*{
    margin: 0;
    padding: 0;
}


.smallPicture{
    width: 150px;
    height: 150px;
}

body{
    width: 100%;
    position: relative;
    height: 100vh;
}

#overlay{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
}

#overlay img{
    width: 80%;
}

#overlay button{
    position: absolute;
    top: 0px;
    right: 0px;
}

#overlay.toggleOverlay{
    display: none;
}